@use '../abstracts' as *;

.cursos {
  &__filters {
    margin-bottom: var(--space-6);
    margin-left: calc(var(--space-4) * -1);
    margin-right: calc(var(--space-4) * -1);
    padding: 0 var(--space-4);

    @include bp(md) {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4);

    @include bp(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include bp(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.curso-card .card__head {
  align-items: flex-start;
}
